/*
  ╔╦╗┌─┐┬┌┐┌  ╔═╗┌─┐┌┐┌┬┐┌─┐┬┌┐┌┌─┐┬─┐
  ║║║├─┤││││  ║  │ │││││ ├─┤││││├┤ ├┬┘
  ╩ ╩┴ ┴┴┘└┘  ╚═╝└─┘┘└┘┴ ┴ ┴┴┘└┘└─┘┴└─
*/

#mainContent{
  display: block;
  width: 80%;
  height: 600px;
  background-color: green;
  float: right;
}